@CHARSET "UTF-8";

/* common settings*/

/* width */
.width-100{
	width : 100% !important;
}



/* height */

.height-80{
	height : 80% !important;
}

.height-90{
	height : 90% !important;
}


/* color */

.bg-c-b{
  background-color: #000000;
}

.bg-c-w{
  background-color: #ffffff;
}

.bg-c-g{
  background-color: #efefef;
}

.bg-c-rg{
  background-color: #f8f8f8;
}


.c-primary{
	color: #0892f9;
}


.f-c-b{
	color: #000;
}

.f-c-w{
	color: #fff;
}

/* border set */
.no-border{
    border:none !important;
}
.set-border-1{
    border:1px solid #eaeaea;
}
.set-border-2{
    border:2px solid #eaeaea;
}
.set-border-3{
    border:3px solid #eaeaea;
}
.set-border-4{
    border:4px solid #eaeaea;
}

.border-b-0{
    border-bottom: none !important;
}

.border-b-1{
    border-bottom: 1px solid #eaeaea !important;
}
.border-b-05{
    border-bottom: 0.5px solid #eaeaea !important;
}
.border-t-05{
    border-top: 0.5px solid #eaeaea !important;
}
.border-r-05{
    border-right: 0.5px solid #eaeaea !important;
}
.border-l-05{
    border-left: 0.5px solid #eaeaea !important;
}

/* font set */
.font-s-10{
    font-size: 10px;
}
.font-s-15{
    font-size: 15px;
}
.font-s-20{
    font-size: 20px;
}
.font-s-30{
    font-size: 30px;
}
.font-s-40{
    font-size: 40px;
}
/* font set */

/* margin set */

.m-0{
  margin: 0px;
}
.m-1{
  margin: 1px;
}
.m-2{
  margin: 2px;
}
.m-3{
  margin: 3px;
}
.m-5{
  margin: 5px;
}
.m-15{
  margin: 15px;
}
.m-20{
  margin: 20px;
}
.m-25{
  margin: 25px;
}
.m-30{
  margin: 30px;
}
.m-40{
  margin: 40px;
}
.m-50{
  margin: 50px;
}

.m-b-0{
    margin-bottom: 0px;
}
.m-b-1{
    margin-bottom: 1px;
}
.m-b-2{
    margin-bottom: 2px;
}
.m-b-3{
    margin-bottom: 3px;
}
.m-b-4{
    margin-bottom: 4px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b-8{
    margin-bottom: 8px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-12{
    margin-bottom: 12px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-b-18{
    margin-bottom: 18px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-25{
    margin-bottom: 20px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-b-50{
    margin-bottom: 50px;
}


.m-t-0{
    margin-top: 0px;
}
.m-t-1{
    margin-top: 1px;
}
.m-t-2{
    margin-top: 2px;
}
.m-t-3{
    margin-top: 3px;
}
.m-t-4{
    margin-top: 4px;
}
.m-t-5{
    margin-top: 5px;
}
.m-t-8{
    margin-top: 8px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-12{
    margin-top: 12px;
}
.m-t-15{
    margin-top: 15px;
}
.m-t-16{
    margin-top: 16px;
}
.m-t-18{
    margin-top: 18px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-25{
    margin-top: 15px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-50{
    margin-top: 50px;
}

.m-r-0{
    margin-right: 0px;
}
.m-r-2{
    margin-right: 2px;
}
.m-r-3{
    margin-right: 3px;
}
.m-r-5{
    margin-right: 5px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-20{
    margin-right: 20px !important;
}
.m-r-25{
    margin-right: 25px;
}
.m-r-30{
    margin-right: 30px;
}
.m-r-40{
    margin-right: 40px;
}
.m-r-50{
    margin-right: 50px;
}


.m-l-0{
    margin-left: 0px !important;
}
.m-l-2{
    margin-left: 2px;
}
.m-l-3{
    margin-left: 3px;
}
.m-l-5{
    margin-left: 5px;
}
.m-l-10{
    margin-left: 10px;
}
.m-l-15{
    margin-left: 15px;
}
.m-l-20{
    margin-left: 20px !important;
}
.m-l-25{
    margin-left: 25px;
}
.m-l-30{
    margin-left: 30px;
}
.m-l-40{
    margin-left: 40px;
}
.m-l-50{
    margin-left: 50px;
}

/* margin set */

/* padding set */

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.p-0{
    padding:0px;
}
.p-1{
    padding:1px;
}
.p-2{
    padding:3px;
}
.p-3{
    padding:3px;
}
.p-5{
    padding:5px;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-50{
    padding: 50px;
}

.p-t-1{
    padding-top: 1px;
}
.p-t-2{
    padding-top: 2px;
}
.p-t-3{
    padding-top: 3px;
}
.p-t-5{
    padding-top: 5px;
}
.p-t-10{
    padding-top: 10px;
}
.p-t-15{
    padding-top: 15px;
}
.p-t-20{
    padding-top: 20px;
}
.p-t-25{
    padding-top: 25px;
}
.p-t-30{
    padding-top: 30px;
}
.p-t-40{
    padding-top: 40px;
}
.p-t-50{
    padding-top: 50px;
}


.p-r-0{
    padding-right: 0px !important;
}
.p-r-1{
    padding-right: 1px;
}
.p-r-2{
    padding-right: 2px;
}
.p-r-3{
    padding-right: 3px;
}
.p-r-5{
    padding-right:5px;
}
.p-r-10{
    padding-right:10px;
}
.p-r-15{
    padding-right:15px;
}
.p-r-20{
    padding-right:20px;
}
.p-r-30{
    padding-right:30px;
}
.p-r-40{
    padding-right:40px;
}
.p-r-50{
    padding-right:50px;
}

.p-l-0{
    padding-left: 0px;
}
.p-l-1{
    padding-left: 1px;
}
.p-l-2{
    padding-left: 2px;
}
.p-l-3{
    padding-left: 3px;
}
.p-l-4{
    padding-left: 4px !important;
}
.p-l-5{
    padding-left: 5px;
}
.p-l-10{
    padding-left: 10px;
}
.p-l-15{
    padding-left: 15px;
}
.p-l-20{
    padding-left: 20px;
}
.p-l-25{
    padding-left: 25px;
}
.p-l-30{
    padding-left: 30px;
}
.p-l-40{
    padding-left: 40px;
}
.p-l-50{
    padding-left: 50px;
}

.p-r-0{
    padding-right: 0px !important;
}
.p-r-1{
    padding-right: 1px;
}
.p-r-2{
    padding-right: 2px;
}
.p-r-3{
    padding-right: 3px;
}
.p-r-4{
    padding-right: 4px !important;
}
.p-r-5{
    padding-right: 5px;
}
.p-r-10{
    padding-right: 15px;
}
.p-r-15{
    padding-right: 15px;
}
.p-r-20{
    padding-right: 20px;
}
.p-r-30{
    padding-right: 30px;
}
.p-r-40{
    padding-right: 30px;
}
.p-r-50{
    padding-right: 30px;
}

/* padding set */

/* float set */
.f-left{
    float: left;
}
.f-right{
    float: right;
}
/* float set */


/* text set */
.t-align-c{
    text-align: center;
}
.t-align-r{
    text-align: right;
}
.t-align-l{
    text-align: left;
}
.t-align-j{
    text-align: justify;
}

/* text set */

.disp-inline-block{
    display: inline-block;
}
.disp-block{
    display: block;
}
.disp-none{
    display: none;
}

.clear-both{
    clear:both;
}
.clear-right{
    clear:right;
}
.clear-left{
    clear:left;
}

.f-l{
	float: left;
}

.f-r{
	float: right;
}

.table-area {
	display: table;
}
.table-cell{
	display: table-cell !important;
	vertical-align: middle !important;
}


/* line */

.b-b-l{
	border-bottom: 1px #f8f8f8 solid;
}
.b-t-l{
	border-bottom: 1px #f8f8f8 solid;
}
.b-r-l{
	border-bottom: 1px #f8f8f8 solid;
}
.b-l-l{
	border-bottom: 1px #f8f8f8 solid;
}

.line-gray{
  height: 1px;
  background-color: #e1e1e1;
}


/* xeicon 사이즈 */
.xi-30{
	font-size: 30px;
}
.xi-24{
	font-size: 24px;
}
.xi-20{
	font-size: 20px;
}
.xi-18{
	font-size: 18px;
}
.xi-16{
	font-size: 16px;
}
.xi-14{
	font-size: 14px;
}

.t-a-r{
    text-align: right;
}
.t-a-l{
    text-align: left;
}

.float-clear{
    clear:both;
}

.col-half-offset{
    margin-left:4.166666667%
}



