@CHARSET "UTF-8";

/* @font-face{
	font-family:'NotoSansCJKkr';
	src:url('../fonts/NotoSansCJKkr-Regular.otf'); IE9 Compat Modes
} */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

body,html {
  height: 100%;
  background: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

/* a태그 설정 */
a,
a.active,
a:active,
a:focus,
a:hover {
 text-decoration: underline !important;
 text-decoration:none !important;
 cursor:pointer;
 color : #000 !important;
}


ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}

/* 스크롤설정 */
*::-webkit-scrollbar{width: 0px;border-radius: 5px;}
*::-webkit-scrollbar-track {background-color:#f1f1f1;}
*::-webkit-scrollbar-thumb:hover {background: #555;}
*::-webkit-scrollbar-thumb {background-color:#3d195b;}
*::-webkit-scrollbar-button:start:decrement,*::-webkit-scrollbar-button:end:increment {
width:1px;height:0px;background:#f1ef79;}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}


/* ios input 디자인 */
input, textarea, select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
	-webkit-border-radius: 0 ;
}

.container{
	padding : 0px !important;
	margin : 0px !important;
}

.row{
	padding : 0px !important;
	margin : 0px !important;
}

/* 기본색*/
.fc-w{
	color: #fff;
}
.fc-b{
	color: #000;
}
.fc-bb{
	color: #1e88f2;
}
.fc-g{
	color: #37c149;
}
.fc-r{
	color: #fd4440;
}


/* background */

.backgoundSet{
    height: 100vh;
    margin: 0;
   /*  background: linear-gradient(#3d195b 27%, #ffffff 27%); */
   background-color: #3d195b;
}

.fullBackgoundSet{
    height: 100vh;
    margin: 0;
    background: #3d195b;
}

.fullBackgoundSet-g{
    margin: 0;
    background: #f8f8f8;
}


.imgBackGround{
    background: #3d195b url("/resources/images/league/premierLogo.png"); 
    -webkit-background-size: 47% 34%;
    -moz-background-size: 47% 34%;
    -o-background-size: 47% 34%;
    background-size: 47% 34%;
	background-attachment : fixed;
	background-repeat: no-repeat;
	width: 100%;
}


/* header */
.headerDiv{
	height: 60px;
}
.headerImg{
	display: inline-block;
    padding: 10px 0px 14px 10px;
}
.headerBtn{
	height: 60px;
    color: #2afd8a;
    display: inline-block;
    padding: 20px 10px 24px 0px;
}
.logoImg{
	height: 36px;
    display: block;
}

/* matchInfo */

.matchResultDiv {
	position: relative;
	overflow: auto;
	margin: 0px 10px;
	border-radius: 8px;
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); */
}

.matchList{
	width: 100%;
	height: 130px;
	background: #fff;
	margin:10px 0px;
	border-radius: 8px;
}

.matchList:first-child{
	margin-top:0px;
}


.matchInfoDiv{
	width: 100%;
	height: 43px;
	background-color: #fff;
	border-radius: 8px;
}

.matchInfoDiv .matchDay{
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-align: center;
  padding-top: 8px;
}

.matchInfoDiv .matchGround{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #9b9b9b;
}

.matchTeamInfoDiv .matchTeamItem {
	width: 100%;
	height: 87px;
	text-align: center;
	padding-top :4px;
}

.matchTeamInfoDiv .matchTeamItem  .matchTeamName{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #9b9b9b;
  padding-top: 4px;
}

.matchTeamInfoDiv .teamLogoImg {
  width: 56px;
  height: 56px;
}

.matchTeamItem .matchScoure{
  font-size: 32px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding-top: 9px;
}

.matchTeamItem .matchResult{
  font-size: 10px;
  font-weight: 500;
  color: #ff6678;
  text-align: center;
}
.roundInfoDiv{
	width: 100%;
	height: 60px;
	padding: 8px 0px 8px 0px !important;
}
.matchCnt{
	width: 100%;
	height: 55px;
}

.homeTeamDiv {
  height: 48px;
  background-color: #c1bebf;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.scoreDiv{
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
}

.awayTeamDiv{
  height: 48px;
  background-color: #c1bebf;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.winColor{
	background-color: #2afd8a;
}

.loseColor{
	background-color: #ff6678;
}

.drawColor{
	background-color: #fff253;
}


/* teamRank */

.leagueTitleEng{
  width: 100%;
  opacity: 0.8;
  font-size: 14px;
  color: #fff;
  padding-top: 16px;
}

.leagueTitleKor{
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.rankHeaderDiv{
	width: 100%;
	height: 72px;
}
.rankTabDiv{
	height: 44px;
	width: 100%;
	padding: 16px 10px 4px 10px;
}

.rankTitle{
	height: 24px;
}
.rankTitle > div  {
	height: 24px;
	display: table;
}
.rankTitle > div > div  {
	height: 24px;
	font-size: 12px;
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.rankTeamName{
	text-align: justify !important;
}

.rankTeamName span{
	padding-left: 4px;
}

.rankDiv{
	position: relative;
	overflow: auto;
}

.rankContent{
	height: 48px;
    color: #fff;
    margin: 4px 10px 4px 10px;
    background-color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}

.rankContentLow{
	background-color: rgba( 000, 000, 000, 0.2 );
}

.rankContent > div  {
	height: 48px;
	display: table;
}

.rankContent > div > div  {
	height: 48px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.rankArea1, .rankArea2, .rankArea3 , .rankArea4{
	background-color: #2afd8a;
	color: #37093b !important;
}

.rankTeamImg{
  width: 20px;
  height: 20px;
}


/* navberDiv */


.navBarDiv{
  height: 50px;
  width: 100%;
  background-color: #ffffff;
}
.navbarLine{
	height: 3px;
    background: #2afd8a;
    position: relative;
    top: -15px;
    margin: 0px 20px;
}

.navImg{
	height: 36px;
	display: block;
	margin: 0px auto;
	padding: 4px 0px;
}

.navbarItem{
  height: 50px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

/* team정보 */


/* 헤더 */

 header {
	/* position: fixed; */
	width: 100%;
	color: #fff;
	z-index: 999;
 }
 
 .teamheaderDiv{
 	position: relative;
 }

.teamHeaderNavLine{
    height: 3px;
    background: #ffffff;
    width: 26px;
    margin: 0px auto;
    position: relative;
    top :5px;
}

.teamHeaderNav{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #ee0107;
  z-index: 999;
}

.teamSubInfoDiv {
	position : relative;
	width: 100%;
	height: 68px;
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding: 0px 16px;
}

.teamSubInfoDiv .content_item {
	height: 68px;
}

.teamSubInfoDiv .content_item  .title {
	font-size: 10px;
	font-weight: 500;
	color: #4a4a4a;
	padding: 8px 0px 1px 0px;
}

.teamSubInfoDiv .content_item  .content{
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.navItem{
	width: 20%;
	height: 40px;
	float: left;
	display: table;
}

.navItemTitle {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	opacity: 0.5;
	cursor: pointer;
	position: relative;
}

.temaInfoContentDiv{
	position: relative;
	overflow: auto;
}

/* .swiper-wrapper{
	height: 0px; !important;
}
 */
.secContentDiv{
	overflow: auto;
	padding-bottom: 30px !important;
}


.subTitleBarDiv{
  width: 100%;
  height: 34px;
  background-color: #000000;  
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  display: table;
  margin: 24px 0px 8px 0px;
}

.gradeAvgDiv {
    margin: 24px 0px 0px 0px;
}

.gradeBoxDiv{
	height: 104px;
}

.gradeBoxDiv > .subTitle{
  padding-top: 27px;
  font-size: 12px;
  text-align: center;
  color: #4a4a4a;
}

.gradeBoxDiv > .contentDiv{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #37093b;
}

.scoreAvgDiv{
    margin: 24px 0px 0px 0px;
}

.scoreAvgBox{
	height: 68px;
}

.goalAvgTitle{
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  height: 68px;
  padding:25px 0px;
  text-align: center;
  background-color: #4d9aff;
}
.goalAvgDiv{

  height: 68px;
  background-color: #4c9aff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 16px 0px;
}

.concededAvgTitle{
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  height: 68px;
  padding:25px 0px;
  text-align: center;
  background-color: #ff6678;
  margin-top: 1px;
}

.concededAvgDiv{
  height: 68px;
  font-size: 24px;
  background-color: #ff6678;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 16px 0px;
  margin-top: 1px;
}


.homeAwayDiv{
    margin-bottom:  50px !important;
}
.homeResultTitle , .awayResultTitle , .totalResultTitle  {
	height: 52px;
	background-color: #d8d8d8;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #37093b;
	padding: 16px 0px;
}

.matchResultTitle {
	height: 24px;
	background-color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #4a4a4a;
}

.homeCntDiv, .awayCntDiv, .totalCntDiv  {
	height: 52px;
	background-color: #ffffff;
	padding: 8px 0px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #37093b;
}




/* sec01 START */

.goalMarginDiv{
}

.goalMarginItem {
	text-align: center;
	background-color: #d4ffe8;
	font-size: 12px;
	font-weight: bold;
	color: #37093b;
	}
	
.goalMarginItem2{
	text-align: center;
    background-color: #ffe0e4;
    font-size: 12px;
    font-weight: bold;
    color: #37093b;
}




.scoringStatsDiv{
    margin: 24px 0px 0px 0px;
}

.scoringStatsItem_w {
	background-color: #d4ffe8;
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	color: #37093b;
}

.scoringStatsItem_d{
	background-color: #ebebeb;
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	color: #37093b;
}

.scoringStatsItem_l {
	background-color: #ffe0e4;
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	color: #37093b;
}


.matchHalfDiv{
    margin-bottom:  50px !important;
}

.matchHalfItem_w {
	background-color: #d4ffe8;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #37093b;
	}

.matchHalfItem_d{
	background-color: #9b9b9b;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #37093b;
}

.matchHalfItem_l{
	background-color: #ffe0e4;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #37093b;
}

.homeAdvantageDiv{
}

.homeAdvListItem-l{
  padding: 5px 5px 5px 10px !important;
}

.homeAdvListItem-r{
  padding: 5px 10px 5px 5px !important;
}

.homeAdvContentDiv{
  height: 145px;
  border-radius: 8px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px;
}

.homeAdvTitle {
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.36;
  color: #161419;
}

.homeAdvRank{
	opacity: 0.8;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.36;
	text-align: right;
	color: #1e88f2;
}

.homeAdvcontent  {
	font-size: 40px;
	font-weight: bold;
	color: #000000;
    float: right;
    padding-top: 28px;
}

.recentMatchListDiv{
	padding-top: 10px;
}

.teamRecentMatchDiv{
	height: 120px;
	margin-bottom : 50px !important;	
}

.teamRecentMatchDiv > .contentNm{
  padding : 16px 10px 0px 10px;
  opacity: 0.8;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  font-weight: 500;
  color: #4a4a4a;
}


.recentMatchList{
}


.recentMatchItem-W  {
	height: 18px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 3px;
	text-align: center;
	color: #ffffff;
	background-color: #66acee;
	border-radius: 4px;
    margin: 0px 8px;
}

.recentMatchItem-L {
	height: 18px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 3px;
	text-align: center;
	color: #ffffff;
	background-color: #fd4440;
	border-radius: 4px;
    margin: 0px 8px;
}

.recentMatchItem-D {
	height: 18px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 3px;
	text-align: center;
	color: #ffffff;
	background-color: #37c149;
	border-radius: 4px;
    margin: 0px 8px;
}

.recentMatchTeamLogo{
    width: 26px;
    height: 26px;
    margin-top: 10px;
    margin: 10px 6px 0px 6px;
}



.TeamAverageDiv{
    margin: 24px 0px 0px 0px;
}

.TeamAverageTab{
    margin: 16px 10px 0px 10px;
    height: 34px;
}

.TeamAverageTab > div{
  border-radius: 4px;
  border: 1px #000 solid;
  background-color: #fff;
}

.TeamAverageTab .tabItemAvg {
	width: 100%;
	height: 32px;
	font-size: 14px; 
	color : #000000;
	text-align: center;
    padding: 5px;
}


.teamAverageItem{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #37093b;
}

.teamAdvTitle1 , .teamAdvTitle2 , .teamAdvTitle3{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #37093b;
}

/* 경기정보 START*/
.TeamMatchInfoDiv{
	 margin: 24px 0px 0px 0px;
	 background-color: #f8f8f8;
}
.matchHistoryTab{
    margin: 16px 10px;
    height: 34px;
}

.matchHistoryTab > div{
  border-radius: 4px;
  border: 1px #000 solid;
  background-color: #fff;
}

.matchHistoryTab .tabItem {
	width: 100%;
	height: 32px;
	font-size: 14px; 
	color : #000000;
	text-align: center;
    padding: 5px;
}

.teamMatchListDiv{
	background-color: #f8f8f8;
	padding: 0px 10px 0px 10px;
	margin-bottom:  50px !important;
}

.teamNMatchTitle {
	font-size: 12px;
	color: #000000;
	height: 32px;
	background-color: #f2f2f2;
}
/* 경기정보 END*/


/* teamList */
.teamListDiv{
	overflow: auto;
}

.teamListItem{
  height: auto;
  cursor: pointer;
}
.teamBannerImg{
    max-height: auto;
    height: auto;
    max-width: 100%;
}

.teamBannerDiv{
	height : 204px;
	background-color: #ee0107;
}

.teamBannerDiv .btnDiv{
	height: 34px;
	width: 100%;
	padding: 10px;
}

.teamBannerDiv .contentDiv{
	height: 130px;
	width: 100%;
}

.teamBannerDiv .contentDiv > div{
	text-align: center;
}

.teamBannerDiv .contentDiv .teamBannerNm{
  padding-top: 10px;
  padding-bottom : 4px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
}

.teamBannerDiv .contentDiv .teamBannerNmEng{
  opacity: 0.8;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
}

.teamBannerDiv .contentDiv img{
  width: 60px;
  height: 60px;
}




/* VS리그 */

.teamAvgHeader{
	height: 48px;
}

.homeAvgImgDiv, .leagueAvgImgDiv{
	text-align: center;
    padding-top: 15px;
    font-size: 28px;
    font-weight: bold;
}


.teamAvgHeader img{
	height: 40px;
	width : 40px;
}

.totalAvgContent{
padding : 16px 18px 50px 18px !important;
}

.avgTitle{
height: 20px;
font-size: 14px;
font-weight: bold;
text-align: center;
color: #4a4a4a;
}

.totalAvgContent .contentDiv{
height: 24px;

}

.progressDiv {
margin-top: 7px;
}
.progressContent {
height: 8px;
border-radius: 100px;
background-color: #eaeaea;
}

.progressItemLeftDiv{
transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-moz-transform:rotate(180deg); /* Firefox */
-webkit-transform:rotate(180deg); /* Safari and Chrome */
-o-transform:rotate(180deg); /* Opera */
}


.progressItemLeft{

height: 8px;
width: 50%;
border-radius: 0px 100px 100px 0px;
background-color: #ef0107;
}

.progressItemRight{
height: 8px;
width: 80%;
border-radius: 0px 100px 100px 0px;
background-color: #3d175c;
}

.teamAvgVal{
font-size: 16px;
font-weight: bold;
text-align: center;
color: #ef0107;
}

.leagueAvgVal{
font-size: 16px;
font-weight: bold;
text-align: center;
color: #3d175c;
}

.nextMatchDiv{
	padding-bottom: 15px  !important;
    background: #fff;
}

/* 테스트 */
    
.nextMatchDayDiv{
    font-size: 10px;
    line-height: 1;
    color: #ffffff;
    padding:10px 0px;
}

.nextMatchGroundDiv{
    font-size: 10px;
    line-height: 1;
    color: #ffffff;
    padding:10px 0px;
    float: right;
}

.nextMatchTeamImg , .nextMatchTeamImg {
    height: 30px;
    width: 30px;
}
    
.nextMatchTeamNm{
  height: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  padding-top:4px;

}
    
.nextMatchTeamInfo{
    height: 18px;
    font-size: 8px;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
    padding-top: 5px;
}
    
.nextMatchInfoDiv{
  padding: 0px 4px !important;  
}



