button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

.paginate {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    -webkit-filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.2));
}
.paginate i {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 20px;
    height: 3px;
    border-radius: 2.5px;
    background: #fff;
    transition: all 0.15s ease;
}
.paginate.left {
	position : absolute;
 	left : 5%;
}
.paginate.left i {
  transform-origin: 0% 50%;
}
.paginate.left i:first-child {
  transform: translate(0, -1px) rotate(40deg);
}
.paginate.left i:last-child {
  transform: translate(0, 1px) rotate(-40deg);
}
.paginate.left[data-state=disabled] i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state=disabled] i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state=disabled]:hover i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state=disabled]:hover i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.right {
  position: absolute;
  right: 5%;
}
.paginate.right i {
  transform-origin: 105% 50%;
}
.paginate.right i:first-child {
  transform: translate(0, 1px) rotate(40deg);
}
.paginate.right i:last-child {
  transform: translate(0, -1px) rotate(-40deg);
}
.paginate.right[data-state=disabled] i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state=disabled] i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state=disabled]:hover i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state=disabled]:hover i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate[data-state=disabled] {
  opacity: 0.3;
  cursor: default;
}

.counter {
	text-align: center;
    position: relative;
    width: 100%;
    font-size: 32px;
    color: #fff;
}

/* slide */

.slideArea {
  width: 100%;
  height: 72px;
  border-radius:  8px 8px 0px 0px;
  opacity: 0.8;
  padding: 0px 10px;
  background: linear-gradient(-75deg, #c8102e 50%, #da291c 0, #da291c 50%, #c8102e 0, #c8102e 50%, #da291c 0);
  
}

/*  @-webkit-keyframes slideUp {
  0% {
	height: 72px;
	opacity: 0.8;
  }
  100% {
	height: 70vh;
	opacity: 1;
  }
}

@keyframes slideUp {
  0% {
	height: 72px;
	opacity: 0.8;
  }
  100% {
	height: 70vh;
	opacity: 1;
  }
}


@-webkit-keyframes slideDown {
  0% {
	height: 70vh;
	opacity: 1;
  }
  100% {
	height: 72px;
	opacity: 0.8;
  }
}
@keyframes slideDown {
  0% {
	height: 70vh;
	opacity: 1;
  }
  100% {
	height: 72px;
	opacity: 0.8;
  }
} */

/*  @-webkit-keyframes slideUp {
  0% {
	height: 72px;
	opacity: 0.8;
  }
  100% {
	height: 90vh;
	opacity: 1;
  }
}

@keyframes slideUp {
  0% {
	height: 72px;
	opacity: 0.8;
  }
  100% {
	height: 90vh;
	opacity: 1;
  }
}


@-webkit-keyframes slideDown {
  0% {
	height: 90vh;
	opacity: 1;
  }
  100% {
	height: 72px;
	opacity: 0.8;
  }
}
@keyframes slideDown {
  0% {
	height: 90vh;
	opacity: 1;
  }
  100% {
	height: 72px;
	opacity: 0.8;
  }
} */
 



.animate {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

 .animate-slide-up {
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
}
.animate-slide-down {
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
} 

.slideTitle{
	width: 100%;
	height: 72px;
	font-size : 16px;
	text-align: center;
	font-weight: bold;
	padding : 5px 0px;
	color: #fff;
}
.slideDiv{
	position: absolute;
	height: 72px;
    width: 100%;
    z-index: 999;
  	bottom: 0px;
  	background-color: #fff;
 	border-radius: 8px 8px 0px 0px;
}

.slideContent{
    overflow: auto;
}
    





	
