@CHARSET "UTF-8";

.table-title-row{
  width: 100%;
  height: 24px;
  background-color: #fff; 
  display: table;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #9b9b9b;
}

.table-title-col{
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  display: table;
}

.table-content-col{
  width: 100%;
  height: 40px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  display: table;
}

.table-center{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}



